<a href="https://colab.research.google.com/github/BrunoLoducca/Machine-Learning---Dados-com-Altas-Dimens-es/blob/main/Aula2_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 2 - R - Variáveis
Relembrando:
https://livro.curso-r.com/3-3-objetosFuncoes.html

* Nomes de objetos/variáveis não podem começar com número nem underline (\_)
* Não pode ter espaço nem traço (-) 
* Pode ter ponto (.) ou underline (\_) no meio
* Usamos `<-` (sem espaços no meio) para guardar coisas no objeto

In [2]:
# O que deu errado aqui?
resultado <- 100/2
# Corrija o código abaixo

In [4]:
# E agora, o que aconteceu?
resultado < (-100)/2
# Mesma coisa

[1] FALSE

In [5]:
# O que essa conta faz?
resultado = 60
# E essa?
# Aqui ele compara a variável resultado com o valor 60, comparando 60 por meio 
# dos dois simbolos de igual. 
resultado == 60

[1] TRUE

## Mas variáveis são só para números?
Não!

In [7]:
# Tente criar:
x <- 100
y <- 50
z <- 'Oi, mundo'
z <- "Oi, Mundo" # pode usar aspas duplas ou aspas simples
w <- TRUE
x
y
z
w

[1] 100

[1] 50

[1] "Oi, Mundo"

[1] TRUE

In [8]:
x
y
z
w

[1] 100

[1] 50

[1] "Oi, Mundo"

[1] TRUE

In [9]:
# Dá para fazer conta?
x+y

[1] 150

In [ ]:
# E essa?
x+z

In [ ]:
# E essa?
x+w
# Ué ?!
# Explicação: x é 100, e w é TRUE, e TRUE é associado ao número 1
# Por isso dá 100+1 == 101.

In [ ]:
x

In [ ]:
# Removendo o x
rm(x)
x

In [ ]:
# Recriando o x
x <- 100

## Classes
Os objetos de R, ao serem criados, são **classificados**. Assim, cada objeto tem uma **classe**.

As classes mais básicas são _numérico_ (`numeric`), _texto_ (`character`) e _lógico_ (`logical`).

Para saber a classe de um objeto `x`, usamos a função `class(x)`.

Veja: 
https://livro.curso-r.com/3-5-classes.html

In [10]:
# Tente:
class(x)
class(y)
class(z)
class(w)

[1] "numeric"

[1] "numeric"

[1] "character"

[1] "logical"

In [11]:
# Mais alguns exemplos

iris

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [12]:
class(iris)

[1] "data.frame"

# Exercícios sobre texto
1. Crie um objeto `nome` e guarde nele seu nome completo.

In [18]:
# Resolva o exercício 1 aqui:
nome = "Bruno Giusti Loducca"

2. Use a função `nchar` para contar o número de caracteres do seu nome.

In [19]:
# Resolva o exercício 2 aqui:
nchar(nome)

[1] 20

3. Rode o código a seguir e explique o que `gsub` faz.

In [21]:
nomesemespaco = gsub(" ", "", nome) # A função gsub substitui algo que contenha na variável nome, sendo
                                    # que o primeiro valor antes da ',' é o item que queremos substituir 
                                    # e o segundo valor após a ',' é valor que será colocado. 
nomesemespaco

[1] "BrunoGiustiLoducca"

4. Escreva um código que conte o número de letras do seu nome, sem contar os espaços.

In [ ]:
# Resolva o exercício 4 aqui:

5. Crie três objetos, `bairro`, `cidade` e `estado`, com o bairro, a cidade e a sigla do estado onde você mora.

In [22]:
# Resolva o exercício 5 aqui:

bairro = "Pirituba"
cidade = "São Paulo"
estado = "SP"

bairro
cidade
estado

[1] "Pirituba"

[1] "São Paulo"

[1] "SP"

6. Explore um pouco a função `paste`. Use os objetos `bairro`, `cidade` e `estado` para fazer sua exploração.

Lembre-se: você pode usar `?paste` ou `help(paste)` para ver o que essa função faz.

In [25]:
# Resolva o exercício 6 aqui:
paste(bairro, ",", cidade, "-", estado)

[1] "Pirituba , São Paulo - SP"

In [27]:
# Consertando a virgula
paste(bairro, ",", cidade, "-", estado, sep=" ") # A função sep realiza uma separação

[1] "Pirituba , São Paulo - SP"

7. Escreva um código que, dados os conteúdos dos objetos `bairro`, `cidade` e `estado`, escreva um texto único no formato "`bairro`, `cidade` - `estado`". Por exemplo: `"Vila Mariana, São Paulo - SP"`

In [ ]:
# Resolva o exercício 7 aqui:

8. O que acontece se fizermos `paste(bairro, cidade, estado, sep=' - ')`?

In [ ]:
# Veja o que acontece no exercício 8!

# Vetores
Como dispor vários valores em uma só linha?

https://livro.curso-r.com/3-6-vetores.html

In [ ]:
# Olhe um pouco a ajuda sobre vetor e sobre a função `c`:
help(vector)

In [ ]:
help(c)

## Criando vetores
Basta usar a função `c`, de `c`ombinar!

Note que um vetor é uma sequência de coisas.

Cuidado na hora de combinar: só usamos a vírgula (`,`), nunca ponto e vírgula.

In [ ]:
c(1,5,2)

In [ ]:
# Posso guardar um vetor inteiro em um objeto!
(v <- c(1,2,3,4))

In [ ]:
v

In [ ]:
# Dá para ter sequência de textos?
(v2 <- c("Vila Mariana", "São Paulo", "SP"))

In [ ]:
# Posso colocar objetos dentro de vetores?
x <- c(1,pi)
y <- 3
c(x,y)

In [ ]:
# E se colocar vetor dentro de vetor?
c(v,v2)

In [ ]:
class(c(v,v2))

## Acessando valores dentro de vetores
Suponha que você tenha `v <- c(1,4,3)` e queira achar o segundo elemento. Como faz?

Usamos colchetes! `v[2]` é a resposta!

Note que no R, começamos a contar de 1 (o primeiro elemento é 1). No Python, começamos do 0. Cuidado!

In [ ]:
v <- c(1,4,3)
v[2]

In [ ]:
# Se estiver fora do limite, dá erro?
v[4]

## Alguns atalhos
No Python, `range(2,9)` dá a sequência `[2,3,4,5,6,7,8]`. Dá para fazer algo parecido no R?

A resposta é sim! Veja os exemplos a seguir.

In [ ]:
1:10

In [ ]:
10:1

In [ ]:
-2:3

In [ ]:
10:0.1

## Brincando com mais de um vetor
Dá para comparar dois vetores?

In [ ]:
v1 <- 1:5
v2 <- c(1,2,4,3,5)
v1
v2

In [ ]:
v1 == v2

In [ ]:
v1 < v2

In [ ]:
# Dá para comparar com um número só?
v1 < 4
v2 == 3

In [ ]:
# Exemplo um pouco mais prático
idades <- c(17,20,32,83,11)
idades
# Quem pode votar?

# Quem é obrigado a votar? Dica: use conectores lógicos!

## Fatiando vetores
Em Python, `v[1:7]` mostra os elementos 1 a 6 do iterável `v`. Em R?

Quase a mesma coisa. Ele mostra os elementos 1 a **7** do vetor `v`.

Também podemos colocar qualquer sequência de índices (um vetor!) dentro dos colchetes.

Veja os exemplos a seguir.

In [ ]:
v <- 1:10
# Fatiando v
# Quero os três primeiros elementos. Como faço?

In [ ]:
# E os três últimos?

In [ ]:
# Os de índices 2, 3, 5 e 7?

In [ ]:
# Em ordem invertida?

In [ ]:
# Os de índice 3, 1, 4, 1, 5, 9, 2, nessa ordem?

## Posso colocar nomes nos índices?
Sim! Use a função `names(v)` para nomear os índices!

In [ ]:
ends <- c("Vergueiro, 1951", "Apeninos, 960", "Vergueiro, 1549")
ends

In [ ]:
names(ends) <- c("Ana Rosa", "Paraíso 1", "Paraíso 2")
ends

In [ ]:
ends[1]

In [ ]:
ends["Ana Rosa"]

In [ ]:
v <- c(1,2,3)
names(v) <- c("um", "dois", "três")
v

In [ ]:
class(v)